Package: OVPN-client-generator
Version: 1.0
Maintainer: sample-mails@mail.me
Architecture: All
Section: misc
Description: Secripts for creation client files for open vpn server
Depends: easy-rsa, ftp
